.section{
    background-color:  #9A8C6E;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;    
}

.content{
    flex: 1 1 21rem;
    
}
.maincontent h1{
    color:  #000;;
    margin-top: 8%;
    text-align: center;
    display: flex;
    
    
}
.maincontent h2{
    color:  #000;
    margin-top: 3%;
    
}
.maincontent h5 {
    color:  #000;;
    margin-top: 8%;
    
    
}


