.firstmain{
    padding-left: 24%;
    font-size: 20px;
    padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.firstsub{
    padding-left: 24%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;  
}
.secondmain{
    padding-left: 24%;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.secondsub{
    padding-left: 24%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;  
}
.thirdmain{
    padding-left: 24%;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.thirdsub{
    padding-left: 24%;
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 20px;  
}
.fourthmain{
    padding-left: 24%;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.fourthsub{
    padding-left: 24%;
    padding-top: 5px;
    padding-bottom: 80px;
    font-size: 20px;  
}